.App {
  text-align: center;
  background-image: linear-gradient(to right, rgb(32, 49, 230), rgb(51, 65, 215), rgb(70, 82, 199), rgb(89, 98, 184), rgb(108, 114, 169), rgb(127, 130, 154), rgb(145, 147, 138), rgb(164, 163, 123), rgb(183, 179, 108), rgb(202, 195, 93), rgb(221, 212, 77), rgb(240, 228, 62));
  width: 100%;
  height: 100vh;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

